<div id="footer-menu" class="footer-menu">
  <ul>
    {{ range .Site.Menus.footer }}
    <li class="menu-item-{{ .Name | lower }}">
      <a href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>
</div>
