<div class='header'>
  <div class="container">
    <div class="logo">
        <a style="color: #ffab40; font-size: 1.4rem; font-family: Playfair Display, serif, -apple-system; font-weight: bold;" href="{{ .Site.Home.RelPermalink }}">{{.Site.Title}}</a>
    </div>
    <div class="logo-mobile">
      <a style="color: #ffab40; font-size: 1.4rem; font-family: Playfair Display, serif, -apple-system; font-weight: bold;" href="{{ .Site.Home.RelPermalink }}">{{.Site.Title}}</a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
